  /* for category */
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    margin: 0px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .swiper-slide img {
    display: block;
    width:145px;
    height: 170px;
    object-fit: contain;
  }
  
  .slide-image:hover {
    width: 120%; /* Increase width on hover */
    transition: width 0.3s ease; /* Add smooth transition */
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-button-next::after, .swiper-button-prev::after {
    content: "";
}

.swiper-custom-arrow{
  min-width: 25px !important;
  height: 88px;
  background-color: #fff;
  color: black;
}

/* for item */
.truncated-link{
  display: inline-block;
  width: 150px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncated-image{
  height: 135px;
  width: 100%;
  object-fit: cover;
}

.item-box{
  cursor: pointer;
  padding: 6px;
}

.item-box:hover{
  width: 90%;
  transition: width 0.3s ease-in-out; 
  box-shadow: 0px 3px 6px 1px #ccc;
}

.place-order-box{
  padding: 8px;
  width: 95%;
  box-shadow: 1px 3px 6px 2px #ede7f6;
}

.place-order-text{
  text-overflow: ellipsis;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    padding-left: 3px;
}

.place-order-add{
  border:1px solid #5e35b1;
  display: flex;
  justify-content: space-around;
}

/* movement */
.container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.background-img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('path_to_your_image.jpg');
  z-index: -1;
}

.zigzag-text {
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  animation: zigzag 10s linear infinite; /* Adjust animation duration */
}

@keyframes zigzag {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: calc(50% - 25px);
    left: calc(25% - 25px);
  }
  50% {
    top: calc(100% - 50px);
    left: calc(50% - 50px);
  }
  75% {
    top: calc(50% - 25px);
    left: calc(75% - 25px);
  }
  100% {
    top: 0;
    left: 0;
  }
}

.expand-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  padding: 10px 20px;
  background-color: #5e35b1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0; 
  animation: showButton 4s 3s forwards; 
}

@keyframes showButton {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

